body {
    background: black;
    background-image: url("../img/bg.jpg");
    background-size: 180px auto;
}

#canvas {
    position: absolute;
    margin: 0;
    top: 0;
    left: calc(50vw - 88.88vh);
    width: 177.77vh;
    height: 100vh;
}

canvas {
    image-rendering: pixelated crisp-edges;
    visibility: hidden;
}

.hidden {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

#start {
    padding: 5vh;
    background-color: blue;
    margin: auto;
    margin-top: 30vh;
    border-radius: 2vh;
    width: 30vh;
    /*height: 10vh;*/
    outline: 1vh groove darkblue;
}

#controls {
    position: inherit;
    padding: 3vh;
    background-color: blue;
    margin: auto;
    width: 25vh;
    margin-top: 5vh;
    border-radius: 2vh;
    outline: 1vh groove darkblue;
}

a {
    color: white;
    margin: auto;
    font-family: sans-serif;
    font-size: 5vh;
}

p {
    color: white;
    margin: auto;
    font-family: sans-serif;
    font-size: 2vh;
}

img {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    image-rendering: pixelated;
}

audio {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

